@page
@model BookStore.Pages.EmloyeePage.EmployeeModel
@{
    ViewData["Title"] = "Employee";
}

<h1>Employee</h1>
<table class="table">
    <thead>
        <tr>
            <th>EmployeeId</th>
            <th>Name</th>
            <th>Password</th>
            <th>IsManager</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Employees)
        {
            <tr>
                <td>
                    @Html.DisplayFor(t=>item.Id)
                </td>
                <td>
                    @Html.DisplayFor(t=>item.Name)
                </td>
                <td>
                    @Html.DisplayFor(t=>item.Password)
                </td>
                <td>
                    @Html.DisplayFor(t=>item.IsManager)
                </td>
            </tr>
        }
    </tbody>
</table>
